@charset "UTF-8";

/** ALL DEVICES, MOBILE & TABLET =============================================*/
/** ## CSS Reset & Basic settings --------------------------------------------*/
* {
    background: transparent;
    border: 0;
    font-size: 100%;
    margin: 0;
    outline: 0;
    padding: 0;
    vertical-align: baseline;
}

html,
body {
    background: #ffffff;
    font-family: 'Muli', sans-serif;
    font-weight: 300;
    margin: 0 auto;
    min-height: 100%;
    padding: 0;
}

header,
main,
footer {
    margin: 0 auto;
    width: 100%;
}

h2 {
    color: #333333;
    margin: 50px 0 15px 0;
    font-family: 'Catamaran', sans-serif;
    font-size: 32px;
    font-weight: 900;
    text-align: center;
    text-transform: uppercase;
}

h3 {
    color: #333333;
    font-family: 'Catamaran', sans-serif;
    font-size: 24px;
    font-weight: 900;
    text-align: center;
    text-transform: uppercase;
}

/** HTML5 tags support for older browsers */
header, section,
footer, aside,
nav, main,
article, figure {
    display: block;
}

section {
    margin: 0 auto;
    line-height: 27px;
}

#container {
    background: #f7f7f7;
    height: 100%;
    margin: 0 auto;
    width: 100%;
}

section:first-of-type {margin: 0;}
h1, h2.hide {display: none;}

/** ## Header ----------------------------------------------------------------*/
header {
    background: url("../img/bg_head.png") no-repeat top center;
    background-size: 100%;
    display: block;
    height: auto;
    max-width: 1920px;
    padding: 53.64% 0 0 0;
    width: 100%;
}

nav {
    height: 60px;
    margin: 0;
    position: absolute;
    width: 100%;
    text-align: center;
    top: 0;
}

.hamburger-menu {
    color: #ffffff;
    display: inline-block;
    float: right;
    font-size: 25px;
    margin: 15px 15px 0 0;
}

/** Logo */
nav:before {
    background: url("../img/logo.png") no-repeat;
    background-size: contain;
    content: '';
    float: left;
    height: 30px;
    margin: 15px 0 0 15px;
    width: 82px;
}

nav ul {
    background: rgba(80, 126, 173, 0.8);
    display: block;
    padding: 90px 20px 20px 20px;
    z-index: 1000;
}

nav ul li {
    display: block;
    list-style-type: none;
    font-size: 16px;
    font-weight: 700;
    padding: 10px;
}

nav ul li a {
    color: #ffffff;
    text-decoration: none;
}

nav ul li a:hover {
    color: #bdd7fa;
    transition: 0.3s ease-in-out color;
}

#header-message {
    color: #8e8e8e;
    display: block;
    font-size: 16px;
    font-weight: 600;
    line-height: 25px;
    padding: 25px 50px 0 50px;
    text-align: center;
}

#header-message span.header-button a {
    background: #ff690f;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    color: #fefefe;
    font-size: 14px;
    font-family: 'Catamaran', sans-serif;
    font-weight: 700;
    padding: 10px 35px;
    text-decoration: none;
}

#header-message span.header-button a:hover {
    background: #fd7c2f;
    transition: 0.3s ease-in-out background-color;
}

#header-message span {display: block;}
#header-message span.header-button {margin: 20px 0 0 0;}
.hamburger-menu:hover {cursor: pointer;}
nav ul {display: none;}
nav ul li.hide-mobile {display: none;}
.show {display: block;}

/** ## Section => WHAT WE OFFER ----------------------------------------------*/
section#what-we-offer {
    margin: 0 auto;
    width: 100%;
}

section#what-we-offer .introduction {
    color: #565656;
    line-height: 30px;
    font-size: 16px;
    font-weight: 400;
    padding: 0 25px;
    text-align: center;
}

.offer-boxes {
    display: block;
    padding: 50px 45px 0 45px;
    text-align: center;
}

.offer-box {
    display: inline-block;
    margin: 0 0 90px 0;
    text-align: center;
}

.offer-box img {
    display: block;
    margin: 0 auto 10px auto;
}

.question {
    color: #565656;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
}

.offer-boxes h3 {
    line-height: 30px;
    padding: 15px 50px 30px 50px;
}

.offer-box a.price-point {
    background: #ff690f;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    color: #fefefe;
    font-family: 'Catamaran', sans-serif;
    font-size: 15px;
    font-weight: 700;
    padding: 12px 25px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    width: 120px
}

.offer-box a.price-point:hover {
    background: #fd7c2f;
    transition: 0.3s ease-in-out background-color;
}

.offer-box span {display: block;}
section#what-we-offer .section-pad {padding: 20px 20px 25px 20px;}

/** ## Section => IMAGE GALLERY ----------------------------------------------*/
section#gallery {display: none;}

/** ## Section => MEET OUR CREW ----------------------------------------------*/
section#meet-our-crew {
    margin: 0 auto 80px auto;
    width: 100%;
}

.crew-boxes {
    display: block;
    text-align: center;
}

.crew-box img {
    border-radius: 50%;
    margin: 0 auto 30px auto;
}

img.mask {
    height: 150px;
    width: 150px;
}

.profession {
    color: #565656;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
}

.crew-box span {display: block;}
section#meet-our-crew h2 {margin: 0 0 35px 0;}
section#meet-our-crew h3 {margin: 0 10px 35px 10px;}
.crew-box {display: inline-block;}

/** ## Section => ABOUT ------------------------------------------------------*/
section#about {
    display: block;
    width: 100%;
    text-align: center;
}

section#about h2 {
    color: #2f2f2f;
    line-height: 40px;
    margin: 0;
    padding: 0 0 40px 0;
    text-align: center;
}

section#about #about-pad p {
    color: #2b2b2b;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    padding: 0 0 15px 0;
}

section#about td.about-number {
    color: #ff690f;
    font-family: 'Catamaran', sans-serif;
    font-size: 35px;
    font-weight: 900;
}

section#about td.about-caption {
    color: #2b2b2b;
    font-size: 14px;
    font-weight: 700;
    padding: 15px 20px 0 20px;
    text-transform: uppercase;
}

section#about table {
    border: none;
    margin: 0 auto;
}

.transparent {color: transparent !important;}
section#about td.about-caption:last-of-type {padding: 0;}
section#about #about-pad {padding: 0 50px 0 50px;}

/** ## Section => TESTIMONIALS -----------------------------------------------*/
section#testimonials {
    margin: 80px 0 40px 0;
    width: 100%;
}

section#testimonials h2 {
    margin: 0;
    padding: 0 0 40px 0;
}

section#testimonials h3 {
    font-size: 18px;
    margin: 16px 0 20px 0;
}

section#testimonials img {
    border-radius: 50%;
    display: block;
    height: 130px;
    margin: 0 auto;
    width: 130px;
}

section#testimonials .client-photo:before {
    background: url("../img/quote_left.png");
    content: '';
    height: 36px;
    left: 25%;
    position: absolute;
    top: 107px;
    width: 50px;
}

section#testimonials .client-photo:after {
    background: url("../img/quote_right.png");
    content: '';
    height: 36px;
    position: absolute;
    right: 25%;
    top: 107px;
    width: 50px;
}

section#testimonials p {
    font-size: 18px;
    font-weight: 300;
    line-height: 30px;
    padding: 0 20px;
    text-align: center;
}

section#testimonials .slide {
    display: block;
    position: absolute;
    top: 0;
    width: 100%;
}

ul.sy-pager li {
    width: 13px;
    height: 13px;
    background: #d1d8df;
    border-radius: 50%;
    margin: 0 18px 0 0;
    display: inline-block;
}

ul.sy-pager {
    display: block;
    margin: 45px auto 0 auto;
    text-align: center;
}

ul.sy-pager li a {
    color: transparent;
    font-size: 29px;
    line-height: 8px;
    position: relative;
}

/** Slider */
.testimonials-slider {position: relative;}
ul.sy-pager li.sy-active {background: #ff630b;}
ul.sy-pager li:last-of-type {margin: 0;}

/** ## Footer ----------------------------------------------------------------*/
footer #contact-us {
    display: inline-block;
    width: 100%;
}

footer #map {
    display: inline-block;
    height: 250px;
    width: 100%;
}

footer #contact-us h2 {
    color: #ffffff;
    margin: 40px 0 25px 0;
    text-align: center;
}

footer .address {
    margin: 0 auto;
    text-align: center;
}

footer .address span {
    color: #f7f7f7;
    display: block;
    font-size: 18px;
    font-weight: 300;
    line-height: 26px;
    padding: 0 0 15px 0;
    text-transform: uppercase;
}

/* Font Awesome */
footer .address i.fas {
    color: #ff600a;
    height: 39px;
    padding: 0 16px 0 0;
    transform: translate(0, 5px);
}

footer ul.social li {
    display: inline-block;
    list-style-type: none;
    padding: 0 35px 0 0;
}

footer ul.social li a {
    color: #979797;
    font-size: 30px;
}

footer ul.social li a:hover {
    color: #777777;
    transition: 0.3s ease-in-out;
}

footer ul.social {
    margin: 0 auto;
    padding: 37px 0 40px 0;
    text-align: center;
}

footer {background: #2f2f2f;}
footer .address i.fa-phone-volume {font-size: 20px;}
footer ul.social li:last-of-type {padding: 0;}

/** DESKTOP ==================================================================*/
@media screen and (min-width: 1024px) {
    /** ## Header ------------------------------------------------------------*/
    header {
        background: url("../img/bg_head.png") no-repeat top center;
        background-size: 100%;
        display: block;
        height: auto;
        max-width: 1920px;
        padding: 53.64% 0 0 0;
        position: relative;
        width: 100%;
    }

    nav {
        height: 60px;
        margin: 0;
        position: absolute;
        width: 100%;
        text-align: center;
        top: 0;
    }

    nav {
        background: transparent;
        height: 100px;
    }

    /** Logo */
    nav:before {
        float: none;
        height: 44px;
        left: 20px;
        margin: 0;
        position: absolute;
        top: 25px;
        width: 120px;
    }

    nav ul {
        background: transparent;
        display: block;
        float: right;
        margin: 0;
        padding: 35px 25px 0 0;
    }

    nav ul li {
        display: inline-block;
        padding: 0 40px 0 0;
    }

    #header-message {
        color: #fefefe;
        display: block;
        font-size: 18px;
        font-weight: 400;
        left: 11%;
        line-height: 40px;
        padding: 0;
        position: absolute;
        text-align: left;
        text-shadow: 4px 9px 16px rgba(0, 0, 0, 0.55);
        top: 35%;
        width: 500px;
    }

    #header-message span.header-button a {
        font-size: 18px;
        padding: 12px 40px;
        text-shadow: none;
    }

    #header-message span.header-button {margin: 50px 0 0 0;}
    .hamburger-menu {display: none;}
    nav ul li.hide-mobile {display: inline-block;}

    /** ## Section => WHAT WE OFFER ------------------------------------------*/
    section#what-we-offer {
        margin: 0 auto 120px auto;
        width: 100%;
    }

    section#what-we-offer .introduction {
        line-height: 32px;
        font-size: 18px;
        padding: 0 40px;
    }

    .offer-boxes {
        display: flex;
        justify-content: space-between;
        padding: 40px 0 0 0;
    }

    .offer-box {
        margin: 0;
        width: 32%;
    }

    /** ## Section => IMAGE GALLERY ------------------------------------------*/
    section#gallery {
        column-count: 3;
        column-gap: 0;
        display: block;
        line-height: 0;
        margin: 0 auto;
        -moz-column-count: 3;
        -moz-column-gap: 0;
        -webkit-column-count: 3;
        -webkit-column-gap: 0;
        text-align: center;
        width: 100%;
    }

    section#gallery img {
        display: inline-block;
        height: auto;
        text-align: center;
        width: auto;
        max-width: 33vw;
    }

    /** ## Section => MEET OUR CREW ------------------------------------------*/
    section#meet-our-crew {
        margin: 100px auto 80px auto;
        width: 100%;
    }

    .crew-boxes {
        display: flex;
        justify-content: space-evenly;
        padding: 20px 5%;
    }

    img.mask {
        height: 150px;
        width: 150px;
    }

    /** ## Section => ABOUT --------------------------------------------------*/
    section#about {
        background: url("../img/bg_about.png") no-repeat top center;
        background-size: contain;
        max-width: 1920px;
        padding: 56.25% 0 0 0;
        position: relative;
        text-align: left;
    }

    section#about #about-pad {
        position: absolute;
        top: 15%;
        width: 60%;
    }

    section#about h2 {
        padding: 0 0 40px 0;
        text-align: left;
    }

    section#about td.about-caption {
        font-size: 18px;
        padding: 0 50px 0 0;
    }

    section#about table {
        margin: 0;
        padding: 20px 0 0 0;
    }

    section#about #about-pad p {font-size: 16px;}

    /** ## Section => TESTIMONIALS -------------------------------------------*/
    section#testimonials {
        margin: 100px auto 100px auto;
        width: 80%;
    }

    section#testimonials img {
        height: 130px;
        width: 130px;
    }

    section#testimonials .client-photo:before {
        height: 36px;
        left: 35%;
        top: 107px;
        width: 50px;
    }

    section#testimonials .client-photo:after {
        height: 36px;
        right: 35%;
        top: 107px;
        width: 50px;
    }

    /** ## Footer ------------------------------------------------------------*/
    footer #map {
        float: right;
        height: 600px;
        width: 50%;
    }

    footer #contact-us h2 {
        margin: 76px 0 25px 0;
        text-align: left;
        transform: translate(-10px, 0);
    }

    footer ul.social {
        padding: 37px 0 0 0;
        text-align: left;
    }

    footer {height: 600px;}
    footer #contact-us {width: 40%;}
    footer .address {text-align: left;}
    footer .address i.fas {float: left;}
    footer #contact-us .contact-pad {padding: 10% 0 0 15%;}

}

/** ## Header message position on devices ------------------------------------*/
@media screen and (min-width: 1200px) {
    #header-message {top: 40%;}
    section#testimonials {width: 60%;}
}

@media screen and (min-width: 1400px) {

    #header-message {top: 45%;}
    .offer-boxes {justify-content: space-evenly;}
    .offer-box {width: 20%;}
    section#about h2 {font-size: 50px;}
    section#about #about-pad {top: 25%;}
    section#about #about-pad p {font-size: 18px;}
}

@media screen and (min-width: 1600px) {
    #header-message {
        font-size: 22px;
        top: 50%;
    }

    section#about #about-pad {
        padding: 0 0 0 10%;
        top: 30%;
        width: 45%;
    }

    footer #map {width: 60%;}
    section#about td.about-number {font-size: 55px;}
    section#testimonials {width: 50%;}
}

@media screen and (min-width: 1800px) {
    #header-message {
        font-size: 24px;
        top: 55%;
        width: 600px;
    }
}

@media screen and (min-width: 1920px) {
    h2 {
        margin: 160px 0 65px 0;
        font-size: 60px;
    }

    section {
        margin: 0 auto;
        line-height: normal;
        text-align: center;
    }

    #container {
        box-shadow: 0 0 81px 2px rgba(0, 0, 0, 0.35);
        -moz-box-shadow: 0 0 81px 2px rgba(0, 0, 0, 0.35);
        -webkit-box-shadow: 0 0 81px 2px rgba(0, 0, 0, 0.35);
        max-width: 1920px;
    }

    /** ## Header ------------------------------------------------------------*/
    /** Logo */
    nav:before {
        height: 61px;
        left: 120px;
        top: 35px;
        width: 166px;
    }

    #header-message {
        left: 330px;
        line-height: 40px;
        text-shadow: none;
        top: 57%;
        width: 650px;
    }

    nav ul {padding: 55px 80px 0 0;}

    /** ## Section => WHAT WE OFFER ------------------------------------------*/
    section#what-we-offer {
        margin: 0 auto 145px auto;
        width: 1100px;
    }

    .offer-boxes {padding: 70px 0 0 0;}
    .offer-box {width: 28%;}
    .offer-box img {margin: 0 auto 30px auto;}
    .offer-boxes h3 {padding: 15px 30px 30px 30px;}
    section#what-we-offer .introduction {padding: 0 60px;}

    /** ## Section => MEET OUR CREW ------------------------------------------*/
    section#meet-our-crew {
        margin: 0 auto 145px auto;
        width: 1270px;
    }

    .crew-boxes {
        justify-content: space-around;
        padding: 0;
    }

    img.mask {
        height: 240px;
        width: 240px;
    }

    section#meet-our-crew h2 {margin: 135px 0 35px 0;}
    section#meet-our-crew h3 {margin: 0}


    /** ## Section => ABOUT --------------------------------------------------*/
    section#about {
        height: auto;
        min-height: 1080px;
        padding: 0;
        position: relative;
        text-align: left;
    }

    section#about #about-pad {
        padding: 230px 40% 0 16%;
        position: static;
        width: 43%;
    }

    section#about td.about-caption {padding: 0 110px 0 0;}
    section#about h2 {font-sline-height: 70px;}
    section#about table {margin: 0;}
    section#about td.about-number {font-size: 64px;}

    /** ## Section => TESTIMONIALS -------------------------------------------*/
    section#testimonials {
        height: 748px;
        margin: 0 auto;
        width: 825px;
    }

    section#testimonials .client-photo:before {left: 290px;}
    section#testimonials .client-photo:after {right: 290px;}
    section#testimonials p {padding: 0;}
    section#testimonials h2 {padding: 160px 0 31px 0;}

    /** ## Footer ------------------------------------------------------------*/
    footer #map {
        height: 639px;
        width: 67%;
    }

    footer {height: 639px;}
    footer #contact-us {width: 33%;}
    footer #contact-us .contact-pad {padding: 0 0 0 137px;}

}
